USE [Gunny]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/5/2022 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dates]    Script Date: 3/5/2022 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[CardinalNumber] [int] NULL,
 CONSTRAINT [PK_Dates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberOfTimes]    Script Date: 3/5/2022 5:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberOfTimes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DateID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[InputNumber] [float] NULL,
	[CardinalNumber] [int] NULL,
 CONSTRAINT [PK_NumberOfTimes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dates] ON 

INSERT [dbo].[Dates] ([ID], [Date], [CreatedAt], [UpdatedAt], [Day], [Month], [Year], [CardinalNumber]) VALUES (16, N'2022-02-28', CAST(N'2022-02-28T21:37:24.370' AS DateTime), CAST(N'2022-02-28T23:37:03.177' AS DateTime), 28, 2, 2022, 20220228)
INSERT [dbo].[Dates] ([ID], [Date], [CreatedAt], [UpdatedAt], [Day], [Month], [Year], [CardinalNumber]) VALUES (17, N'2022-02-26', CAST(N'2022-02-28T21:37:29.207' AS DateTime), CAST(N'2022-02-28T21:37:29.207' AS DateTime), 26, 2, 2022, 20220226)
INSERT [dbo].[Dates] ([ID], [Date], [CreatedAt], [UpdatedAt], [Day], [Month], [Year], [CardinalNumber]) VALUES (18, N'2022-02-27', CAST(N'2022-02-28T21:37:32.933' AS DateTime), CAST(N'2022-02-28T21:37:32.933' AS DateTime), 27, 2, 2022, 20220227)
SET IDENTITY_INSERT [dbo].[Dates] OFF
GO
SET IDENTITY_INSERT [dbo].[NumberOfTimes] ON 

INSERT [dbo].[NumberOfTimes] ([ID], [Name], [DateID], [CreatedAt], [UpdatedAt], [InputNumber], [CardinalNumber]) VALUES (8881, N'16:04', 24, CAST(N'2022-03-05T17:33:11.517' AS DateTime), CAST(N'2022-03-05T17:35:15.387' AS DateTime), 0, 1604)
INSERT [dbo].[NumberOfTimes] ([ID], [Name], [DateID], [CreatedAt], [UpdatedAt], [InputNumber], [CardinalNumber]) VALUES (8882, N'16:03', 24, CAST(N'2022-03-05T17:33:11.517' AS DateTime), CAST(N'2022-03-05T17:35:15.387' AS DateTime), 0, 1603)
INSERT [dbo].[NumberOfTimes] ([ID], [Name], [DateID], [CreatedAt], [UpdatedAt], [InputNumber], [CardinalNumber]) VALUES (8883, N'16:02', 24, CAST(N'2022-03-05T17:33:11.517' AS DateTime), CAST(N'2022-03-05T17:35:15.387' AS DateTime), 0, 1602)
GO
SET IDENTITY_INSERT [dbo].[NumberOfTimes] OFF
GO
ALTER TABLE [dbo].[NumberOfTimes]  WITH CHECK ADD  CONSTRAINT [FK_NumberOfTimes_Dates] FOREIGN KEY([DateID])
REFERENCES [dbo].[Dates] ([ID])
GO
ALTER TABLE [dbo].[NumberOfTimes] CHECK CONSTRAINT [FK_NumberOfTimes_Dates]
GO
